<section class="games">
  <div class="container section-indent">
    <ul class="games-list">
      <li class="games-list-item">
        <div class="game">
          <svg class="game-icon" aria-label="logo">
            <use href="./img/symbol-defs.svg#icon-bird"></use>
          </svg>
          <h3 class="game-name">Flappy bird</h3>
        </div>
        <ul class="game-items-list">
          <li class="game-items">1 poit for 10 jumps</li>
          <li class="game-items">5 point for 100 jumps</li>
        </ul>
      </li>
      <li class="games-list-item">
        <div class="game">
          <svg class="game-icon" aria-label="logo">
            <use href="./img/symbol-defs.svg#icon-bird"></use>
          </svg>
          <h3 class="game-name">Flappy bird</h3>
        </div>
        <ul class="game-items-list">
          <li class="game-items">1 poit for 10 jumps</li>
          <li class="game-items">5 point for 100 jumps</li>
        </ul>
      </li>
      <li class="games-list-item">
        <div class="game">
          <svg class="game-icon" aria-label="logo">
            <use href="./img/symbol-defs.svg#icon-bird"></use>
          </svg>
          <h3 class="game-name">Flappy bird</h3>
        </div>
        <ul class="game-items-list">
          <li class="game-items">1 poit for 10 jumps</li>
          <li class="game-items">5 point for 100 jumps</li>
        </ul>
      </li>
      <li class="games-list-item">
        <div class="game">
          <svg class="game-icon" aria-label="logo">
            <use href="./img/symbol-defs.svg#icon-bird"></use>
          </svg>
          <h3 class="game-name">Flappy bird</h3>
        </div>
        <ul class="game-items-list">
          <li class="game-items">1 poit for 10 jumps</li>
          <li class="game-items">5 point for 100 jumps</li>
        </ul>
      </li>
      <li class="games-list-item">
        <div class="game">
          <svg class="game-icon" aria-label="logo">
            <use href="./img/symbol-defs.svg#icon-bird"></use>
          </svg>
          <h3 class="game-name">Flappy bird</h3>
        </div>
        <ul class="game-items-list">
          <li class="game-items">1 poit for 10 jumps</li>
          <li class="game-items">5 point for 100 jumps</li>
        </ul>
      </li>
      <li class="games-list-item">
        <div class="game">
          <svg class="game-icon" aria-label="logo">
            <use href="./img/symbol-defs.svg#icon-bird"></use>
          </svg>
          <h3 class="game-name">Flappy bird</h3>
        </div>
        <ul class="game-items-list">
          <li class="game-items">1 poit for 10 jumps</li>
          <li class="game-items">5 point for 100 jumps</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
