<section class="games">
  <div class="container section-indent">
    <ul class="games-list">
      <li class="games-list-item">
        <div class="game">
          <svg class="game-icon" aria-label="logo">
            <use href="./img/symbol-defs.svg#icon-bird"></use>
          </svg>
          <h3 class="game-name">Flappy bird</h3>
        </div>
        <div class="ovrl">
          <ul class="game-items-list">
            <li class="game-items">1 poit for 10 jumps</li>
            <li class="game-items">5 point for 100 jumps</li>
          </ul>
        </div>
      </li>
      <li class="games-list-item">
        <div class="game">
          <svg class="game-icon" aria-label="logo">
            <use href="./img/symbol-defs.svg#icon-pacman"></use>
          </svg>
          <h3 class="game-name">PacMan</h3>
        </div>
        <div class="ovrl">
          <ul class="game-items-list">
            <li class="game-items">1 poit for 10 jumps</li>
            <li class="game-items">5 point for 10 jumps</li>
          </ul>
        </div>
      </li>
      <li class="games-list-item">
        <div class="game">
          <svg class="game-icon" aria-label="logo">
            <use href="./img/symbol-defs.svg#icon-tetris"></use>
          </svg>
          <h3 class="game-name">Tetris</h3>
        </div>
        <div class="ovrl">
          <ul class="game-items-list">
            <li class="game-items">1 poit for 10 jumps</li>
            <li class="game-items">5 point for 10 jumps</li>
          </ul>
        </div>
      </li>
      <li class="games-list-item">
        <div class="game">
          <svg class="game-icon" aria-label="logo">
            <use href="./img/symbol-defs.svg#icon-2048"></use>
          </svg>
          <h3 class="game-name">2048</h3>
        </div>
        <div class="ovrl">
          <ul class="game-items-list">
            <li class="game-items">1 poit for 10 jumps</li>
            <li class="game-items">5 point for 10 jumps</li>
          </ul>
        </div>
      </li>
      <li class="games-list-item">
        <div class="game">
          <h3 class="soon">SOON</h3>
        </div>
        <div class="ovrl"></div>
      </li>
      <li class="games-list-item">
        <div class="game">
          <h3 class="soon">SOON</h3>
        </div>
        <div class="ovrl"></div>
      </li>
    </ul>
  </div>
</section>
