<section class="user">
  <div class="container section-indent">
    <div class="bacground">
      <div class="svg-box"></div>
      <div class="folder-1"></div>
      <div class="folder-2"></div>
      <div class="I">
      <div class="user-head">
        <h1 class="user-week">week 1</h1>
        <div class="timer">
          <div class="field">
            <span class="value" data-days>00</span>
            <span class="label">D</span>
          </div>
          <div class="field">
            <span class="value" data-hours>00</span>
            <span class="label">H</span>
          </div>
          <div class="field">
            <span class="value" data-minutes>00</span>
            <span class="label">M</span>
          </div>
          <div class="field">
            <span class="value" data-seconds>00</span>
            <span class="label">S</span>
          </div>
        </div>
      </div>
      <ul class="user-box">
        <li class="box-item">
          <div class="box-size"><img class="box-gif" src="./img/Plate-nft.gif" alt="logo-anim" /></div>
          <h3 class="box-title">BIG SHARD</h3>
          <p class="box-points">800/10000</p>
        </li>
        <li class="box-item">
          <div class="box-size"><img class="box-gif" src="./img/minishard.gif" alt="logo-anim" /></div>
          <h3 class="box-title">MINI SHARD</h3>
          <p class="box-points">800/10000</p>
        </li>
      </ul></div>
      <div class="2">
      <div class="points">
        <h2 class="points-title">POINTS</h2>
        <div class="exp">
          <div class="lvl">5 LVL</div>
          <div class="progressbar">///////////////////////////////</div>
          <div class="progress">
            <div class="prev">5 000</div>
            <div class="next">8 000</div>
          </div>
        </div>
        <h3 class="points-subtitle">Requirement</h3>
        <ul class="requirement-list">
          <li class="requirement-list-item">
            <p class="requirement-title">per ticket</p>
            <span class="requirement-field"
              >500</p></span
            >
          </li>
          <li class="requirement-list-item">
            <p class="requirement-title">available Points</p>
            <span class="requirement-field"
              >500</span
            >
          </li>
          <li class="requirement-list-item">
            <p class="requirement-title">Your tickets</p>
            <span class="requirement-field"
              >5</span
            >
          </li>
          <li class="requirement-list-item">
            <p class="requirement-title">total Tickets</p>
            <span class="requirement-field"
              >500,000</span
            >
          </li>

          <li class="requirement-list-item">
            <div class="counter">
              <div class="+ sign">+</div>
              <div class="counter-field">1</div>
              <div class="- sign">-</div>
            </div>
          </li>
          <li class="requirement-list-item">
            <button class="insufficient-btn">insufficient point</button>
          </li>
        </ul>
      </div>
      <div class="reffle">
        <h2 class="raffle-title">RAFFLE</h2>
        <div class="colection">
          <div class="winners">
            <div class="wi">
              <span class="numbers-win">22,222</span>
              <p class="number-wins">winers</p>
            </div>
            <ul class="winners-list">
              <li class="winners-list-item">
                <span class="win-box"></span>
                <p class="winners-text">100 BOX</p>
              </li>
              <li class="winners-list-item">
                <span class="win-box"></span>
                <p class="winners-text">50,000 poly</p>
              </li>
            </ul>
          </div>
          <div class="winner">
            <p class="number-wins">Your win</p>
            <ul class="winners-list">
              <li class="winners-list-item">
                <span class="win-box"></span>
                <p class="winners-text">0 BOX</p>
              </li>
              <li class="winners-list-item">
                <span class="win-box"></span>
                <p class="winners-text">5 poly</p>
              </li>
            </ul>
          </div>
        </div>
        <button class="win-btn">Claim reward</button>
      </div>
      </div>
    </div>
  </div>
</section>
