<section class="about-us">
  <div class="container section-indent">
    <div class="card">
      <div class="section-name">
        <h2 class="about-us-title">ABOUT US</h2>
        <svg class="icon-about-us" aria-label="logo">
          <use href="./img/symbol-defs.svg#icon-about-us"></use>
        </svg>
      </div>
      <div class="section-descr anime-items">
        <p class="text-info">
          illusium is created with the aim of enhancing gaming experience and
          creating a new space for interaction with the Scroll Network. We
          firmly believe that two-player games are a great idea to divert
          attention from the endless stream of cryptocurrency information.
          Become a unique user and spend your time wisely.
        </p>
      </div>
    </div>
  </div>
</section>
