<section class="ecosystem">
  <div class="container section-indent">
    <h2 class="ecosystem-name">ECOSYSTEM</h2>
    <div class="ecosystem-wrap">
      <div class="boxes">
        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3">
          <div class="rect"></div>
          <div class="paral"></div>
        </div>
      </div>
      <div class="box-def">
        <ul class="explore-list">
          <li class="explore-item pass">
            <h4 class="ecosystem-title">Pass</h4>
            <p class="ecosystem-descr">
              By purchasing a pass, you gain access to all games until the end
              of the draw.
            </p>
            <div class="ecosystem-link-wrap">
              <a href="./pass.html" class="ecosystem-link">Explore</a>
            </div>
          </li>
          <li class="explore-item games">
            <h4 class="ecosystem-title">Games</h4>
            <p class="ecosystem-descr">
              Play, earn points, and use them to buy tickets.
            </p>
            <div class="ecosystem-link-wrap">
              <a href="./games.html" class="ecosystem-link">Explore</a>
            </div>
          </li>
          <li class="explore-item reward">
            <h4 class="ecosystem-title">Reward</h4>
            <p class="ecosystem-descr">
              Collect as many tickets as possible to increase your chances of
              winning prizes.
            </p>
            <div class="ecosystem-link-wrap">
              <a href="./reward.html" class="ecosystem-link">Explore</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
