/* CSS Styles */
.card {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.about-us-title {
  font-size: 24px;
  line-height: 100%;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}

.section-name {
  height: 172px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #15172a;
  z-index: 2;
}

.section-descr {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 8px;
  height: 172px;
  background-color: #1b1e37;
  border-radius: 8px;
  position: absolute;
  left: 46%;
  padding-left: 20px;
}

.text-info {
  font-size: 10px;
  line-height: 107%;
  color: #fff;
}

@media (min-width: 850px) {
  .section-name {
    height: 457px;
    border-radius: 22px;
    z-index: 2;
  }

  .about-us-title {
    font-size: 66px;
  }

  .text-info {
    font-size: 28px;
  }

  .section-descr {
    height: 457px;
    border-radius: 22px;
    padding-left: 45px;
  }
}

@media (max-width: 1279px) {
  .icon-about-us {
    display: none;
  }
}

@media (min-width: 1280px) {
  .section-name {
    display: flex;
    flex-direction: column;
    padding: 26px;
    height: 690px;
    border-radius: 33px;
  }

  .about-us-title {
    font-size: 100px;
    padding-bottom: 92px;
  }

  .icon-about-us {
    width: 500px;
    height: 266px;
  }

  .section-descr {
    height: 690px;
    border-radius: 33px;
    padding-left: 65px;
  }

  .text-info {
    font-size: 43px;
  }
}

.section-descr {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease, transform 1s ease;
}

.section-descr.active {
  opacity: 1;
  transform: translateX(0);
}
