.for-animation {
  width: 116px;
  height: 102px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 16px;
}

.el {
  position: absolute;
  border: solid 0.2px #fff;
  height: 30px;
  width: 30px;
  opacity: 0;
}

.sigil-layer-1 .el,
.sigil-layer-2 .el,
.sigil-layer-3 .el {
  height: 24px;
  width: 24px;
}

.sigil-layer-1 .el {
  border-radius: 100%;
}

.sigil-layer-3 .el {
  border-width: 0.5px;
}

.sigil-center .el {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: inset 0px -3px 0px 1px currentColor;
  border: none;
  opacity: 1;
}

.greetings {
  font-size: 16px;
  text-align: center;
  color: #fff;
}

@media (min-width: 850px) {
  .for-animation {
    width: 308px;
    height: 270px;
    margin-bottom: 0;
    padding-bottom: 28px;
  }

  .el {
    height: 60px;
    width: 60px;
  }

  .sigil-layer-1 .el,
  .sigil-layer-2 .el,
  .sigil-layer-3 .el {
    height: 50px;
    width: 50px;
  }

  .sigil-layer-3 .el {
    border-width: 1px;
  }

  .sigil-center .el {
    width: 40px;
    height: 40px;
  }

  .greetings {
    padding: 50px 0;
    font-size: 44px;
    text-align: center;
    color: #fff;
  }
}

@media (min-width: 1280px) {
  .for-animation {
    width: 425px;
    height: 372px;
    margin-bottom: 0;
    padding-bottom: 28px;
  }

  .el {
    height: 80px;
    width: 80px;
  }

  .sigil-layer-1 .el,
  .sigil-layer-2 .el,
  .sigil-layer-3 .el {
    height: 70px;
    width: 70px;
  }

  .sigil-layer-3 .el {
    border-width: 1px;
  }

  .sigil-center .el {
    width: 60px;
    height: 60px;
  }

  .greetings {
    font-size: 66px;
  }
}

@media (min-width: 1440px) {
  .for-animation {
    width: 477px;
    height: 415px;
    margin-bottom: 0;
    padding-bottom: 28px;
  }

  .el {
    height: 100px;
    width: 100px;
  }

  .sigil-layer-1 .el,
  .sigil-layer-2 .el,
  .sigil-layer-3 .el {
    height: 90px;
    width: 90px;
  }

  .sigil-layer-3 .el {
    border-width: 1.5px;
  }

  .sigil-center .el {
    width: 80px;
    height: 80px;
  }

  .greetings {
    font-size: 75px;
  }
}
