<header class="header js-header">
  <svg class="burger-wrap" aria-label="logo">
    <use href="./img/symbol-defs.svg#icon-burger"></use>
  </svg>

  <div class="logo">
    <div class="logo-wrap">
      <svg class="logo-icon" width="50" height="50" aria-label="logo">
        <use href="./img/symbol-defs.svg#icon-logo"></use>
      </svg>
    </div>
    <p class="name">illusium</p>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">NFT</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Games</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Reward</a>
      </li>
    </ul>
  </nav>
</header>
