<header class="header js-header">
  <div class="burger-wrap nav-right visible-xs">
    <div class="button" id="btn">
      <div class="bar top"></div>
      <div class="bar middle"></div>
      <div class="bar bottom"></div>
    </div>
  </div>

  <div class="logo">
    <div class="logo-wrap">
      <svg class="logo-icon" aria-label="logo">
        <use href="./img/symbol-defs.svg#icon-logo"></use>
      </svg>
    </div>
    <p class="name">illusium</p>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="../partials/pass.html" class="nav-link">Pass</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Games</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Reward</a>
      </li>
    </ul>
  </nav>
</header>
