<section class="roadmap">
  <div class="container section-indent">
    <h2 class="roadmap-title">roadmap</h2>
    <ul class="roadmap-list">
      <li class="roadmap-item">
        <div class="img-wrap">
          <img src="./img/gamepad.png" width="200" height="200" />
        </div>
        <div class="roadmap-overlay">
          <h3 class="overlay-title">STAGE 1 Q2 2024</h3>
          <p class="overlay-text">Launch Web3 games with a point system</p>
        </div>
      </li>
      <li class="roadmap-item">
        <div class="img-wrap">
          <img src="./img/gamepad.png" width="200" height="200" />
        </div>
      </li>
      <li class="roadmap-item">
        <div class="img-wrap">
          <img src="./img/gamepad.png" width="200" height="200" />
        </div>
      </li>
      <li class="roadmap-item">
        <div class="img-wrap">
          <img src="./img/gamepad.png" width="200" height="200" />
        </div>
      </li>
    </ul>
  </div>
</section>
