<section class="welcome">
  <div class="container">
    <div class="greetings-wrap">
      <h1 class="greetings">GameFi technology on scroll</h1>
    </div>
    <div class="sigil">
      <div class="sigil-layer-1">
        <div class="el"></div>
        <div class="el"></div>
      </div>
      <div class="sigil-layer-2">
        <div class="el"></div>
        <div class="el"></div>
        <div class="el"></div>
      </div>
      <div class="sigil-layer-3">
        <div class="el"></div>
        <div class="el"></div>
        <div class="el"></div>
      </div>
    </div>
    <div class="glyph glyph--alpha">I</div>
    <div class="glyph glyph--omega">M</div>
  </div>
</section>
