.about-us {
  display: flex;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 50px;
  background-color: #15172a;
  width: 525px;
  height: 550px;
  padding: 20px;
}

.for-box {
  display: flex;
  flex-direction: row;
}

.box {
  width: 525px;
}

.about-us-title {
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-bottom: 32px;
}

.img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1b1e37;
  padding: 50px;
  overflow: auto;
  right: 100%;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.text-info {
  font-weight: 400;
  font-size: 30px;
  line-height: 107%;
  letter-spacing: 0.04em;
  color: #fff;
}
