/* Header */
.header-conteiner {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #141629;
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  padding-right: 47px;
  left: 0;
  transition: all 0.5s ease;
}

.fixed {
  position: fixed;
  left: 32%;
  transform: translate(100px);
  min-width: 977px;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-wrap {
  border: #d2f5ef solid 1px;
  padding-left: 72px;
  border-radius: 152px;
  margin-right: 20px;
  transition: all 0.5s ease;
}

.logo-wrap.min {
  /* margin-right: 290px; */
  padding-left: 0;
}

.logo-icon {
  fill: #15172a;
  border-radius: 152px;
}

.name {
  font-family: 'NTR', sans-serif;
  font-weight: 400;
  font-size: 90px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  text-align: center;
  color: #d2f5ef;
  transition: all 0.5s ease;
}

.name.delete {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 55px;
}

.nav-item {
  font-family: 'NTR', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #d2f5ef;
}
