/* Header */

.js-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141629;
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding-right: 11px;
  transition: all 0.5s ease;
  width: 100%;
  margin: 0 auto;
}

.fixed {
  position: sticky;
  top: 0;
  z-index: 10;
  max-width: 226px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-wrap {
  border: 0.7px solid #fff;
  padding-left: 15px;
  border-radius: 35px;
  margin-right: 10px;
  transition: all 0.5s ease;
  height: 26px;
}

.logo-wrap.min {
  padding-left: 0;
}

.logo-icon {
  fill: #15172a;
  border-radius: 152px;
  width: 25px;
  height: 25px;
}

.name {
  font-weight: 400;
  font-size: 21px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  text-align: center;
  color: #d2f5ef;
}

.name.delete {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.nav-item {
  font-weight: 400;
  font-size: 9px;
  text-align: center;
  color: #d2f5ef;
}

.nav-link:hover {
  color: #6ac17b;
  transition: all 0.5s ease;
}
