.sidebar {
  position: fixed;
  width: 74px;
  height: 100%;
  background-color: #15172a;
  display: none;
  top: 0px;
  left: 0px;
  z-index: 999;
}

.sidebar-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.sidebar-item {
  padding-left: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #d2f5ef;
}

.sidebar-item:first-child {
  margin-top: 5px;
}

.sidebar-anchor {
  color: #fff;
  position: relative; /* зберігаємо позицію відносно батька */
}

.sidebar-anchor:before {
  content: '';
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0; /* змінено з absolute на relative */
  left: 0;
  background-color: #fff;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.sidebar-anchor:hover:before {
  width: 100%;
}

@media (min-width: 850px) {
  .sidebar {
    width: 196px;
    height: 533px;
  }

  .sidebar-list {
    gap: 30px;
  }

  .sidebar-item {
    font-size: 35px;
    padding-left: 20px;
  }

  .sidebar-item:first-child {
    margin-top: 20px;
  }
}
