.roadmap-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #fff;
  margin-right: auto;
  margin-bottom: 20px;
}

.roadmap-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  flex-direction: row;
}

.roadmap-item {
  display: flex;
  flex-direction: column;
}

.img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 136px;
  border-radius: 17px;
  background-color: #15172a;
}

.svg-size {
  height: 75px;
  width: 75px;
}

.roadmap-overlay {
  width: 136px;
  padding: 2px;
  padding-top: 6px;
}

.overlay-title {
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  text-align: center;
  color: #86e0d1;
  margin-bottom: 8px;
}

.overlay-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2; /* Змінено з 100% на 1.2 */
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
