.welcome {
  color: #fff;
}

.for-animation {
  width: 116px;
  height: 102px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 16px; /* Центруємо контейнер по горизонталі */
}

.el {
  position: absolute;
  border-width: 0.2px;
  border-style: solid;
  border-color: currentColor;
  height: 30px; /* Зменшено висоту на 30px */
  width: 30px; /* Зменшено ширину на 30px */
  opacity: 0;
}

.sigil-layer-1 .el,
.sigil-layer-2 .el,
.sigil-layer-3 .el {
  height: 24px; /* Зменшено висоту на 24px */
  width: 24px; /* Зменшено ширину на 24px */
}

.sigil-layer-1 .el {
  border-radius: 100%;
}

.sigil-layer-3 .el {
  border-width: 0.5px; /* Зменшено ширину границі на 0.5px */
}

.sigil-center .el {
  width: 15px; /* Зменшено ширину на 15px */
  height: 15px; /* Зменшено висоту на 15px */
  border-radius: 50%;
  box-shadow: inset 0px -3px 0px 1px currentColor; /* Зменшено тінь */
  border: none;
  opacity: 1;
}

.greetings {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}

@media (min-width: 850px) {
  .for-animation {
    width: 308px;
    height: 270px;
    margin-bottom: 0;
    padding-bottom: 28px;
  }

  .el {
    height: 60px; /* Зменшено висоту на 30px */
    width: 60px; /* Зменшено ширину на 30px */
  }

  .sigil-layer-1 .el,
  .sigil-layer-2 .el,
  .sigil-layer-3 .el {
    height: 50px; /* Зменшено висоту на 24px */
    width: 50px; /* Зменшено ширину на 24px */
  }

  .sigil-layer-3 .el {
    border-width: 1px; /* Зменшено ширину границі на 0.5px */
  }

  .sigil-center .el {
    width: 40px; /* Зменшено ширину на 15px */
    height: 40px; /* Зменшено висоту на 15px */
  }

  .greetings {
    padding: 50px 0;
    font-weight: 400;
    font-size: 44px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
  }
}
